{% extends "base.html.twig" %}

{% block title %}
{{parent()}} {{recipe.title}}
{% endblock %}

{% block body %}
<div class="container">
<h1>{{recipe.title}}</h1>
<h2>{{recipe.description}}</h2>
<p>{{recipe.content | nl2br}}</p>
</div>
{% endblock %}